header {
  background-image:url("https://t4.ftcdn.net/jpg/09/85/26/97/360_F_985269727_WN0ixm78uQLACi1Eh9zTTJNhN6gMpkTl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
  font-family: $main-font;
  color: $text-color;
  @include flex-center(row);
  #a {
    @include flex-center(column);
    font-size: $font-xl;
    margin-right: 100px;
    margin-top: -350px;
  }
  #b {
    @include flex-center(column);
    font-size: $font-xl;
    margin-top: -100px;
  }
  #c {
    @include flex-center(column);
    font-size: $font-lg;
    margin-left: 50px;
    font-weight: 100;
    margin-top: -350px;
    margin-right: 100px;
  }
}